.pagination-btn {    
    border: 1px solid #F4CD06;
    border-radius: 4px;
    margin: 0;
    padding: 0;
    background: transparent;
    color: #F4CD06;
    font-weight: bold;
    text-transform: uppercase;

    padding: 2px 12px;
}

.pagination-btn:hover {
    color: #232323;
    background: #F4CD06;
    transition: 0.2s;
}